@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/**** Common styles or utilities ****/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.section-title {
    text-align: center;
    padding: 5px;
    font-size: 40px;
    color: #0A0826;
}

.watch-button{
    width: 173px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
}

.watch-button a{
    text-decoration: none;
    color: white;
}

.watch-button:hover{
    opacity: 0.80;
    cursor: pointer;
}

.button-watch-now{
    margin-left: 15px;
}

.button-arrow{
    margin-right: 15px;
    margin-left: 0px;
}


/**** Header styles ****/
.header-section {
    width: 100%;
    background-color: #2D25A0;
        /****
        Figma value is given below:
        width: 1440px;
        height: 677px;
        ****/
    padding-top: 5px;
    padding-bottom: 25px;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
    height: 44px;
    width: 1160px;
    margin: 0px 124px 50px 130px;
    padding-top: 42px;
}

.menu-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.menu-bar a:hover{
    color: rgb(144, 162, 180);
}

.menu-left{
    width: 590px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-left > ul{
    display: flex;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.menu-left > ul > li {
    list-style: none;
    margin-left: 5px;
    margin-right: 20px;
}

.menu-right{
    width: 123px;
    height: 44px;
    background-color: #E02C6D;
    padding: 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
}

.header-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-description {
    width: 410px;
    padding-bottom: 10px;
}

.heading-title {
    font-size: 55px;
    font-weight: 700;
    color: white;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.header-image img {
    width: 410px;
}

.header-image img:hover {
    transform: rotate(360deg);
    transition: transform 1.5s ease-in-out;
}


/**** Players styles ****/
.player-section{
    display: flex;
    justify-content: center;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 300px;
    height: 410px;
    border-radius: 7px;
    padding: 20px 15px 10px 15px;
        /* The figma measurement padding-bottom is 33px, but i'm using 40px for better experience. */
    margin: 0px 10px 45px 10px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.15);
}

.player-img-container {
    height: 256px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 5px;
}

.player img{
    height: 256px;
    width: 300px;
    border-radius: 5px;
}

.player img:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
    opacity: 0.95;
}

.player-name{
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px;
}

.player-name:hover{
    cursor: pointer;
    color: lightslategrey;
}

.player-info p {
    text-align: justify;
}


/**** Highlights styles ****/
.highlights-section-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 0px;
    color: #0A0826;
}

.highlights-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px !important;
}

.highlight-details {
    width: 500px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 30px lightgray;
}

.highlight-details p{
    margin: 0px 0px;
    margin-bottom: 22px;
    text-align: justify;
}

.highlight-img {
    display: flex;
    align-items: center;
    width: 500px;
    height: 350px;
}

.highlight-img img {
    width: 500px;
    height: 350px;
    border-radius: 8px;
}


/**** top goals styles ****/
.top-goals {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 15px;
}

.top-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-goal-image img {
    width: 125px;
    height: 100px;
    border-radius: 5px;
}


/**** Footer sytles ****/
.footer-section{
    display: flex;
    justify-content: center;
}

.footer-area{
    width: 484px;
    height: 213px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-area img{
    width: 200px;
}

.social-links-area{
    height: 32px;
    width: 170px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-links-area a{
    text-decoration: none;
    color: lightslategray;
}

.social-links-area a .s-link{
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: rgb(206, 205, 205);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-area a .s-link:hover{
    opacity: 0.75;
}

#copyright-area{
    line-height: 60px;
    text-align: center;
    background-color: #2D25A0;
    color: white;
}

/**** Media query style section ****/
@media only screen and (max-width: 688px){

    /**** heading styles ****/
    .header-body {
        display: flex;
        flex-direction: column;
    }

    .header-description {
        width: 375px;
        padding-bottom: 25px;
    }
    
    .header-image img {
        width: 375px;
        margin-top: 25px;
    }
    
    .header-image img:hover {
        transform: rotate(360deg);
        transition: transform 1.5s ease-in-out;
    }

    .menu-bar {
        display: none;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    
    /**** highlights styles ****/
    .highlights-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0px !important;
    }

    .highlight-title {
        text-align: center;
    }
    
    .highlight-details {
        width: 375px;
        border-radius: 8px;
        padding: 15px;
        padding-bottom: 25px;
        margin-bottom: 35px;
        box-shadow: 5px 5px 30px lightgray;
    }
    
    .highlight-img {
        width: 390px;
        padding: 5px;
        height: 350px;
    }
    
    .highlight-img img {
        width: 390px;
        height: 350px;
        border-radius: 8px;
    }


    /**** top goals styles ****/
    .top-goals {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .top-goal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-goal-image img {
        width: 125px;
        height: 100px;
        border-radius: 5px;
    }


    /**** footer area styles ****/
    .footer-area{
        width: 100%;
        height: 375px;
    }

    .logo-area img{
        width: 100%;
        margin-bottom: 15px;
    }
}